import { Agents, Serving, type SuiteConfig } from './harness/config.ts';

const customConfig: Partial<SuiteConfig> = {
  agent: Agents.GEMINI_CLI,
  numRuns: 1,
  serving: Serving.SKILLS_CLI,
  tasks: [
    'guides/built-in-ai/language-detection/targets/daily-grind/task.md',
    'guides/built-in-ai/language-detection/tasks/task.md',
  ],
};

export default customConfig;
